.grid-schema-wrap {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.grid-schema {
    position: absolute;
    width: 10000px;
    height:10000px;
    background-color: #76f171;
}

.grid-schema.svg {
    width: 100%;
    height: 100%;
}